
# Python
__pycache__/
*.py[cod]
*.venv
.env

# Tooling
.vscode/
.idea/
.obsidian/
.agent/
.crawlee/

# Data & Outputs
data/
!data/.keep

# Legacy (Just in case)
storage/
_02_scrapes_raw/
_03_scrapes_clean/
_04_media/
_06_logs/

# Logs
*.log

# Dependencies
node_modules/

